
<div class="container">
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark main-article" style="margin-top: 1em">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Aitor Llamas Jiménez</h1>
      <p class="lead my-3">
        Soy un apasionado desarrollador de software.
        Disfruto haciendo realidad ideas innovadoras casi tanto como imaginando los próximos pasos.
        Entre mis hobbies se encuentran también los videojuegos, la filosofía y la narrativa
      </p>
      <p class="lead mb-0"><a href="persona/about-me" class="text-white font-weight-bold">Saber más sobre mí...</a></p>
    </div>
  </div>

  <div class="row mb-2">

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">In Finite Loop</strong>
          <h3 class="mb-0">Mi blog sobre desarrollo de software</h3>
          <!-- div class="mb-1 text-muted">Nov 12</div -->
          <p class="card-text mb-auto">En este blog escribo sobre mis experiencias en el mundo del desarrollo de software. Entre otras cosas, hago reviews sobre librerías del ecosistema Node.js</p>
          <a href="infiniteloop/index" class="stretched-link">Ir al blog</a>
        </div>
        <div class="col-auto d-none d-lg-block tech-blog-bg" style="width: 200px; height: auto;">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Kernel</strong>
          <h3 class="mb-0">Mi blog más personal</h3>
          <!-- div class="mb-1 text-muted">Nov 11</div -->
          <p class="mb-auto">En este blog escribo mis pensamientos más personales.</p>
          <a href="kernel/index" class="stretched-link">Ir al blog</a>
        </div>
        <div class="col-auto d-none d-lg-block personal-blog-bg" style="width: 200px; height: auto;">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Lists</strong>
          <h3 class="mb-0">Mis listas de recomendaciones</h3>
          <!-- div class="mb-1 text-muted">Nov 11</div -->
          <p class="mb-auto">Aquí encontrarás listados de cosas que recomiendo.</p>
          <a href="lists/software" class="stretched-link">Ir a las listas</a>
        </div>
        <div class="col-auto d-none d-lg-block lists-bg" style="width: 200px; height: auto;">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Creative Works</strong>
          <h3 class="mb-0">Enlaces a mis otros trabajos</h3>
          <!-- div class="mb-1 text-muted">Nov 11</div -->
          <p class="mb-auto">Aquí encontraras enlaces a mis canales, redes sociales, proyectos...</p>
          <a href="creativeworks/videos" class="stretched-link">Ir a los enlaces</a>
        </div>
        <div class="col-auto d-none d-lg-block creativeworks-bg" style="width: 200px; height: auto;">
        </div>
      </div>
    </div>

  </div>
</div>
